.flip_card {
  background-color: transparent;
  width: 330px;
  height: 554px;
  perspective: 1000px;
  font-family: sans-serif;
}

.title {
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip_card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip_card:hover .flip_card_inner {
  transform: rotateY(180deg);
}

.flip_card_front, .flip_card_back {
  box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  opacity: 0.9;
}

.flip_card_front {
  background: white;
}

.flip_card_back {
  background: white;
  color: white;
  transform: rotateY(180deg);
  overflow-y: auto;
}

@media (min-width: 992px) and (max-width: 1280px) {
  .flip_card {
    width: 315px;
    height: 500px;
  }
}
